.sidenav{
  width: 200px;
  /* Ocupa 100% da largura do viewport */
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #73328d, #c185de);
}


#sidebar_content {
  padding: 15px;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.side-item {
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}


.side-item:hover:not(.active),
#logout_btn:hover {
  background-color: #e3e9f7;
  opacity: 0.5;
  width: 10;
}


.side-item i {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
}


.conteiner{
  flex: 5;
  background-color: rgb(255, 255, 255);
  border-radius: 30px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.logo {
  margin-bottom: 3rem;
  width: 9.5rem;
  top: 20%;
  left: 22px;
  right: 22px;
  border-radius: 20px;
  transform: translate(16%, 20%);
  align-items: center;
  opacity: 0.7;
}



.item-description {
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.3em;
  transition: width .6s;
  height: 0px;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}


#sidebar.open-sidebar {
  min-width: 15%;
}

#sidebar.open-sidebar .item-description {
  width: 150px;
  height: auto;
}

#sidebar.open-sidebar .side-item a {
  justify-content: flex-start;
  gap: 14px;
}


/* ------------------------------------------- */


.tela-perfil{
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 220px;
}

span {
  color: #4F1964;
  /* cor da palavra perfil*/
}

header {
  font-family: 'Roboto', sans-serif;
  /* tipo da letra do titulo */
  font-size: 1.5em;
  font-weight: 100px;
}

input {
  flex: 2;
  /* Define a largura flexível para que ocupem todo o espaço disponível */
  margin-right: 15px;
  /* Adiciona espaçamento entre as caixas de texto */
  border-radius: 5px;
  border: 1px solid #000000;
  width: 230px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #3e37c0;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.borda {
  border-width: 2px;   /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-color: #73328d;
  padding: 20px;
  margin: 20px;
  width: 300px;
}



.button {
  border-radius: 20px;
  background-color: #4F1964;
  color: white;
  width: 15rem;
  height: 2rem;
  margin-left: 0.1rem;
}

button span {
  color: white;
}


.content{
  padding: 16px;
  background-color: white;
}



.quiz{
  margin-top: -763px; /* Altura da borda */
  margin-right: 200px;
  margin-left: 330px;
}

.borda-quiz {
  border-width: 2px;   /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-color: #73328d;
  background-color: #d19bec40;
  padding: 97px; /* Tamanho da caixa */
  margin: 20px;
  width: 785px; /* Comprimento da borda */
  height: 235px;/* Tamanho da caixa */
  position: absolute;
  top: 56px; /* ajuste conforme necessário */
}


.quiz-a {
  margin-top: -8px; /* Altura da borda */
  margin-right: 200px;
  margin-left: 330px;
}

.borda-quiz-a {
  border-width: 2px;   /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-color: #73328d;
  background-color: #d19bec40;
  padding: 97px; /* Tamanho da caixa */
  margin: 20px;
  width: 785px; /* Comprimento da borda */
  height: 235px;/* Tamanho da caixa */
  position: absolute;
  top: 308px; /* ajuste conforme necessário */
}


.quiz-b {
  margin-top: -7px; /* Altura da borda */
  margin-right: 200px;
  margin-left: 330px;
}

.borda-quiz-b {
  border-width: 2px;   /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-color: #73328d;
  background-color: #d19bec40;
  padding: 99px; /* Tamanho da caixa */
  margin: 20px;
  width: 785px; /* Comprimento da borda */
  height: 235px;/* Tamanho da caixa */
  position: absolute;
  top: 560px; /* ajuste conforme necessário */
}

.quiz-button{
  margin-top: -826px; /* Altura do botão */
  margin-right: 100px;
  margin-left: 630px;
}

.button-a{
  border-radius: 20px;
  background-color: #4F1964;
  color: white;
  width: 10rem;
  height: 2rem;
  margin-left: 0.1rem;
  padding-top: -10px;
}


.h2{
  color: #636363;
  /* cor dos titulos das div's em roxo*/
  padding: -10px;
  margin: 10px;

  top: 10px; /* Ajuste conforme necessário */
  right: 40px; /* Ajuste conforme necessário */

  text-align: right;
  display: table;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em

}
