<app-menu></app-menu>

<div class="tela-perfil">
  <header>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
    <span>Perfil</span>
  </header>

  <div class="borda">
    <div class="input-box">
      <header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
        <span>Nome</span>
      </header>
      <input id="nome" class="form-control" type="text" name="firstname" placeholder="Nome" [value]="user?.nome" required />
    </div>

    <div class="input-box">
      <header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
        <span>Username</span>
      </header>
      <input id="Username" class="form-control" type="text" name="Username" placeholder="Username" [value]="user?.username" required />
    </div>

    <div class="input-box">
      <header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
        <span>Email</span>
      </header>
      <input id="email" type="email" name="email" placeholder="Email" class="form-control" [value]="user?.email" required />
    </div>

    <div class="input-box">
      <header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
        <span>Senha</span>
      </header>
      <!-- <button class="button" (click)="alterarSenha(user)" >Alterar Senha</button> -->
      <button class="button">Alterar Senha</button>
    </div>

    <div class="input-box">
      <header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
        <span>Curso</span>
      </header>
      <input id="confirmcourse" type="text" name="confirmcourse" list="cursos" placeholder="Curso" class="form-control" [value]="user?.curso" required />
    </div>

    <div class="input-box">
      <header>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />
        <span>Data de Nascimento</span>
      </header>
      <input id="dataNascimento" [(ngModel)]="user.dataNascimento" class="form-control" type="date" name="dataNascimento" placeholder="Data de Nascimento" required />
    </div>

    <div class="input-box">
      <button class="button" (click)="alterarPerfil(user)">Editar Perfil</button>
    </div>
  </div>

  <div>
    <div class="quiz">
      <div class="quiz-button">
        <div class="input-box">
          <button class="button-a" (click)="excluirPerfil(user)" >Excluir Perfil</button>
        </div>
      </div>

      <div class="borda-quiz">
        <h2>RESULTADOS DO QUIZ</h2>
      </div>
    </div>

    <div class="quiz-a">
      <div class="borda-quiz-a">
        <h2>PERGUNTAS DO FÓRUM</h2>
      </div>
    </div>

    <div class="quiz-b">
      <div class="borda-quiz-b">
        <h2>RESPOSTAS DO FÓRUM</h2>
      </div>
    </div>
  </div>
</div>
