<app-menu></app-menu>

   <!-- ------------------------------------------------------------------------------ -->


  <div class="tela-perfil">
    <header>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap"/><h5>Perfil</h5>
    </header>

     <!-- first column -->
     <div class="borda">
      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Nome</h5>
        </header>
        <input id="nome"  class="form-control" type="nome" name="firstname"
          placeholder="Nome" required />
      </div>


      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Username</h5>
        </header>
        <input id="Username"  class="form-control" type="Username" name="Username"
        placeholder="Username" required />
     </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Email</h5>
        </header>
        <input id="email"  type="email" name="email" placeholder="Email"
        class="form-control" required />
     </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Senha</h5>
        </header>
        <button class="button">Alterar Senha</button>
      </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Curso</h5>
        </header>
        <input id="confirmcourse"  type="curso" name="confirmcourse" list="cursos"
            placeholder="Curso" class="form-control" required />
      </div>

      <div class="input-box">
        <header>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" /><h5>Data de Nascimento</h5>
        </header>
        <input id="nome" class="form-control" type="nome" name="firstname"
          placeholder="Digite seu nome" required />
      </div>


        <div class="input-box">
      <button class="button">Editar Perfil</button>
    </div>

  </div>


   <!-- ------------------------------------------------------------------------------ -->


  <div>
  <div class="quiz">

    <div class="quiz-button">
        <div class="input-box">
          <button class="button-a">Excluir Perfil</button>
        </div>
    </div>

    <div class="borda-quiz">
      <h2>RESULTADOS DO QUIZ</h2>
    </div>
    </div>


    <div class="quiz-a">
      <div class="borda-quiz-a">
         <h2>PERGUNTAS DO FÓRUM</h2>
      </div>
      </div>

      <div class="quiz-b">
        <div class="borda-quiz-b">
          <h2>RESPOSTAS DO FÓRUM</h2>
        </div>
        </div>


  </div>

</div>


