<div class="col-12 tela">

  <div class="title"> Informática - Avançado</div>

  <div class="chart">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions" />
  </div>

  <div class="mec">
    <h2>Sobre o nivel basico</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis quo, commodi fugiat neque minus consectetur
    ratione excepturi ullam dolor molestias accusantium earum iure itaque architecto a optio aperiam voluptatum! Lorem
    ipsum, dolor sit amet consectetur adipisicing elit. Est, sit! Neque ad a dolorum voluptatum voluptates cumque maxime
    soluta inventore sequi incidunt saepe dolore corporis optio modi beatae, dicta magni!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis quo, commodi fugiat neque minus consectetur
    ratione excepturi ullam dolor molestias accusantium earum iure itaque architecto a optio aperiam voluptatum! Lorem
    ipsum, dolor sit amet consectetur adipisicing elit. Est, sit! Neque ad a dolorum voluptatum voluptates cumque maxime
    soluta inventore sequi incidunt saepe dolore corporis optio modi beatae, dicta magni!
  </div>
</div>
