
.sidenav{
  width: 200px;
  /* Ocupa 100% da largura do viewport */
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #73328d, #c185de);
}

.gradient-background {
  background: linear-gradient(to bottom, #ffffff,  #73328d);
  height: 220vh; /* Altura de 100% da viewport */
}
