<!-- menu.component.html -->
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav" mode="side" [(opened)]="isExpanded" fixedInViewport="true">
    <mat-nav-list class="nav-list">
      <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-5"/>
      <nav id="sidebar">
        <div id="sidebar_content">
          <li class="side-item">
            <i class="pi pi-user"></i>
            <span class="item-description">Informática</span>
          </li>
          <li class="side-item">
            <i class="pi pi-comments"></i>
            <span class="item-description">Fórum</span>
          </li>
          <li class="side-item">
            <i class="pi pi-id-card"></i>
            <span class="item-description">Perfil</span>
          </li>
          <li class="side-item">
            <i class="pi pi-sign-out"></i>
            <span class="item-description">Sair</span>
          </li>
        </div>
      </nav>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
