<p-toast></p-toast>
<div id="tela">
  <div id="login">
    <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-5"/>
    <form [formGroup]="loginForm" class="form">
      <div class="mb-4">
        <label for="username" class="form-label">Login</label>
        <br/>
        <input type="text" class="border-0 border-bottom custom" formControlName="login" placeholder="@abs_sisters"
          id="username" required />
        <div *ngIf="f['login'].invalid && (f['login'].dirty || f['login'].touched)">
          <small class="text-danger" *ngIf="f['login'].errors?.['required']">Login é obrigatório.</small>
        </div>
      </div>
      <div class="mb-4">
        <label for="senha" class="form-label">Senha</label>
        <br />
        <p-password formControlName="password" [toggleMask]="true" [feedback]="false" required></p-password>
        <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
          <small class="text-danger" *ngIf="f['password'].errors?.['required']">Senha é obrigatória.</small>
          <small class="text-danger" *ngIf="f['password'].errors?.['senhaForte']">Senha inválida.</small>
        </div>
      </div>
      <button type="button" class="button" style="color: aliceblue" (click)="logar()">Entrar</button>
      <p>Ainda não tem uma conta? <a style="cursor: pointer" (click)="cadastro()"><span>Cadastre-se</span></a></p>
    </form>
  </div>
  <div id="card">
    <img src="../../../assets/images/login.svg" alt="imagem ilustrativa do login" id="img" />
  </div>
</div>
