#tela {
  width: 100vw; /* Ocupa 100% da largura do viewport */
  height: 100vh; /* Ocupa 100% da altura do viewport */
  display: flex;
}

#card {
    flex: 2;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Definindo largura como 100% */
  height: 100%; /* Definindo altura como 100% */
  object-fit: cover;
  transform: scale(1.3);
  transform-origin: 100% 25%;
}

#login {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  border-radius: 20px;
  background-color: #4F1964;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 14rem;
  height: 2rem;
}

.logo {
  margin-bottom: 10rem;
  width: 250px;
}


.custom {
  border-bottom: 3px solid purple !important;
  width: 17rem !important;
  padding: 0.5rem;
  box-sizing: border-box;
}

.custom:focus {
  outline: none; /* Remove o destaque preto do input */
  box-shadow: none;
}

span{
  color: #4F1964;
}

.form-label {
  margin-bottom: 0.5rem; /* Ajuste conforme necessário */
}

:host ::ng-deep .p-password input {
  border: 0 !important;
  border-bottom: 3px solid purple !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

:host ::ng-deep .p-password {
  width: 17rem !important;
}

:host ::ng-deep .p-password .p-inputtext {
  font-size: 1rem !important;  // Ajuste o tamanho da fonte conforme necessário
}

