<p-toast></p-toast>
<div id="tela">
  <div id="login">
    <img src="../../../assets/images/logo-nimet.svg" alt="imagem ilustrativa do login" id="img" class="logo mb-5" />
    <!-- Adicionado mb-3 para diminuir a margem inferior da imagem -->

    <form [formGroup]="loginForm" class="form">
      <div class="mb-4">
        <label for="username" class="form-label">Login</label>
        <br/>
        <input type="text" class="border-0 border-bottom custom" formControlName="login" placeholder="@abs_sisters"
          id="username" />
      </div>
      <div class="mb-4">
        <label for="senha" class="form-label">Senha</label>
        <br />
        <p-password formControlName="password" [toggleMask]="true" [feedback]="false"  ></p-password>
        <!-- <p *ngIf="loginForm.get('password')?.hasError" style="color:red">Senha deve conter uma valor válido</p> -->
      </div>

      <button class="button" style="color: aliceblue" (click)="logar()">
        Entrar
      </button>

      <p>
        Ainda não tem uma conta?<a style="cursor: pointer" (click)="cadastro()"><span> Cadastre-se</span></a>
      </p>
      <!-- <p>Ainda não tem uma conta?<a style="color: purple;"  [routerLink]="cadastro"> Cadastre-se</a></p> -->
    </form>
  </div>

  <div id="card">
    <img src="../../../assets/images/login.svg" alt="imagem ilustrativa do login" id="img" />
    <!-- Ajustada a margem da imagem se necessário -->
  </div>
</div>
