<div class="tela">
  <div class="roxo"></div>

  <div class="cadastro">
    <header>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />CRIE SUA
      CONTA NO <b><span>NIMET</span></b>
    </header>
    <p>Já tem uma conta?<a style="cursor: pointer" (click)="login()"><span>Login</span></a></p>

    <form [formGroup]="cadastroForm">
      <div class="conteiner p-5">

        <!-- first column -->
        <div class="mx-2">
          <div class="input-box">
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" formControlName="nome" class="form-control" type="nome" name="firstname"
              placeholder="Digite seu nome" required />
          </div>

          <div class="input-box">
            <label for="Username" class="form-label">Username</label>
            <input id="Username" formControlName="username" class="form-control" type="Username" name="Username"
              placeholder="Digite seu nome de usuário" required />
          </div>

          <div class="input-box">
            <label for="icondisplay" class="form-label">Data de nascimento</label>
            <p-calendar formControlName="dataNascimento" inputStyleClass="password" [iconDisplay]="'input'"
              inputId="icondisplay" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
          </div>
        </div>

        <!-- second column -->
        <div class="mx-2">
          <div class="input-box">
            <label for="email" class="form-label">Email</label>
            <input id="email" formControlName="email" type="email" name="email"
              placeholder="Digite seu email" class="form-control" required  />
          </div>

          <div class="password-container">
            <div class="input-box">
              <label for="password" class="form-label">Senha</label>
              <p-password formControlName="senha" [toggleMask]="true" inputStyleClass="password" weakLabel="Fraco"
                mediumLabel="Simples" strongLabel="Dentro dos parâmetros">
                <ng-template pTemplate="header">
                  <h6>Requisitos</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <ul class="pl-2 ml-2 mt-0" style="line-height: 1.3">
                    <li>Deve possuir caracteres minusculos, maiusculos e números</li>
                    <li>Mínimo de 8 caracteres</li>
                  </ul>
                </ng-template>
              </p-password>
              <!-- <p *ngIf="cadastroForm.get('senha')?.hasError" style="color:red">Senha deve conter uma valor válido</p> -->
            </div>
          </div>


          <div class="input-box">
            <label for="confirmPassword" class="form-label">Confirmação de Senha</label>
            <p-password [toggleMask]="true" inputStyleClass="password"></p-password>
              <!-- <p *ngIf="
                  cadastroForm.hasError('senhaDiferente') &&
                  cadastroForm.get('confirmarSenha').touched
                " class="text-danger">
                As senhas não correspondem.
              </p> -->
          </div>
        </div>
      </div>

      <div class="input-box">
        <label for="confirmcourse" id="confirmcourse" class="form-label">Curso</label><br /><br />
        <input id="confirmcourse" formControlName="curso" type="curso" name="confirmcourse" list="cursos"
          placeholder="Selecione seu curso" class="form-control" required />
        <datalist id="cursos">
          <option value="INFORMATICA"></option>
          <option value="MECANICA"></option>
          <option value="ELETRONICA"></option>
        </datalist>
      </div>
      <br />

      <button class="button" (click)="cadastrar()">Cadastrar</button>
    </form>
  </div>
</div>

<img src="../../../assets/images/cadastro-semfundo.png" alt="imagem ilustrativa do login" class="image" />
