.tela {
  display: flex;
  width: 100vw;
  /* Ocupa 100% da largura do viewport */
  height: 100vh;
  /* Ocupa 100% da altura do viewport */
  background-image: linear-gradient(to bottom, #913cb3, #d19bec, #eccffa);
}

body {
  background-color: #d19bec40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 170%;
  margin-top: 250px;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 5px 5px 1px;

}

.conteiner {
  display: flex;
}

.card {
  flex: 5;
  background-color: rgb(255, 255, 255);
  border-radius: 30px 0px 0px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roxo {
  flex: 1.2;
}

span {
  color: #4F1964;
  /* cor da palavra NIMET*/
}


header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  font-weight: 300;
  color: rgb(42, 41, 41)
}

h3 {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-106.5%, -50%);
  /* Centralizando o titulo horizontalmente e verticalmente */
  width: 55rem;
  border-bottom: 5px dashed black;
  /* tracejado do titulo*/
}

h2 {
  font-family: 'Roboto', sans-serif;
  /* tipo da letra do testo de explicação */
  font-size: 1.4em;
  font-weight: 100;
  color: rgb(42, 41, 41)
}


input {
  flex: 2;
  /* Define a largura flexível para que ocupem todo o espaço disponível */
  margin-right: 50px;
  /* Adiciona espaçamento entre as caixas de texto */
  margin-left: 90px;
  border-radius: 5px;
  border: 1px solid #000000;
  width: 370px;
  height: 500px;
  box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input:focus-visible {
  outline: 1px solid #3e37c0;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}


.button {
  border-radius: 20px;
  background-color: #4F1964;
  color: white;
  margin-top: 1rem;
  margin-left: 10rem;
  width: 14rem;
  height: 2rem;
  align-items: center;
}

button span {
  color: white;
}


.image {
  position: absolute;
  top: 22%;
  left: 100%;
  transform: translate(-106.5%, -50%);
  /* Centralizando a imagem horizontalmente e verticalmente */
  width: 40rem;
}
