<div class="tela">
  <div class="roxo"></div>

  <div class="card">
    <div class="conteiner p-5">

      <body>
        <h3>
          <header>
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet" />Vamos
            finalizar o cadastro e se tornar parte do
            <b><span>nimet</span></b>?
          </header>
        </h3>

        <!-- <p>Olá, {}! Seja bem vindo à sua jornada de estudos com o nimet!</p> -->

        <div class="input-box">
          <label for="token" class="form-label"></label>
          <input [(ngModel)]="token" class="form-control" type="text" name="token"
            placeholder="Insira o código recebido por email" class="form-control" required />
        </div>

        <h2>
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" />Para
          confirmar o email, por favor clique no botão abaixo
        </h2>

        <button class="button" (click)="verificar()">
          <span>Confirmar email</span>
        </button>
      </body>
    </div>
  </div>
</div>
